body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    height: 100px;
    width: 175px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.blahblah {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#gameResult {
    font-weight: bold;
}